* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
}

h2 {
  font-weight: 200;
  font-family: 'Roboto';
  color: #444;

}
p {
  font-family: 'Roboto';
  color: #777;
  margin-bottom: 20px;
font-weight: 300;
} 


.cont_imgs {
  position: relative;
  float: left;
  width: 100%;
padding-bottom:50px;

}


.clear_fix {
  position: relative;
  float: left;
  width: 100% !important;

}

div[data-shx-size='1']:hover:after {
      top: 15px;
  
}
div[data-shx-size='1']:after {
  top: 5px;
     -webkit-filter: blur(15px);
    filter: blur(15px);
    transition: all 0.5s;
}

div[data-shx-size='2'] {
margin-bottom: 12px !important;
}

div[data-shx-size='2']:after {
      top: 10px;
     -webkit-filter: blur(15px);
    filter: blur(15px);
}

div[data-shx-size='3'] {
margin-bottom: 17px !important;
}
div[data-shx-size='3']:after {
      top: 15px;
     -webkit-filter: blur(15px);
    filter: blur(15px);

}

div[data-shx-size='4'] {
margin-bottom: 27px !important;
}

div[data-shx-size='4']:after {
      top: 25px;
     -webkit-filter: blur(15px);
    filter: blur(15px);
}


div[data-shx-size='5'] {
margin-bottom: 37px !important;
}

div[data-shx-size='5']:after {
      top: 35px;
     -webkit-filter: blur(15px);
    filter: blur(15px);
}


div[data-shx-size='6'] {
margin-bottom: 42px !important;
}
div[data-shx-size='6']:after {
      top: 40px;
     -webkit-filter: blur(15px);
    filter: blur(15px);
}

  .cont_imgs  img{
width: 100%;
z-index: 1;
    border-radius:2px;
}
 

.cont_imgs > div {
position: relative;
float: left; 
width: 32%;
margin: 0.5%;
}
 